<h1>things I made</h1>
<div class="main-content">
	<p>In no order (TODO: add images, reformat as grid)</p>
	<ul>
		<li>Arduino Guitar Pedal</li>
		<li>4Score Iphone game</li>
		<li>Soundcloud scraper</li>
		<li>Raspberry Pi Wireless Sampler</li>
		<li>Home-made touch screen</li>
		<li>Software modular audio synthesiser</li>
		<li>Experiments in natural language processing and machine learning</li>
		<li>LED control circuits withh arduino</li>
		<li>Arduino spatula bot controlled by twitch</li>
		<li>Github commit viewer</li>
		<li>Auditory github commit viewer</li>
		<li>App for geotagging landmarks and commenting (anonument)</li>
		<li>Redid computer engineering wordpress site</li>
		<li>This website</li>
		<li>Experiments in DSP for face/eye tracking</li>
		<li>Homemade unofficial calendar for the 2015 Edmonton Fringe</li>
		<li>GPS path viewer</li>
		<li>Scrolling RPG platformer for GameJam</li>
		<li>Experiments in genetic programming</li>
		<li>Experiments in GPU programming (CUDA/WebGL)</li>
		<li>Encoding images from phone onto reel to reel tapedeck</li>
		<li>Program to take screenshots of Ionic phone apps</li>
		<li>Tool to see how frequently JS code is run (js-hist)</li>
		<li>Multi-user poetry app with unique suggestion UI</li>
		<li>Online signal for when to go to the bar in school</li>
		<li>Unfinished procedurally generated space RPG</li>
		<li>Discover Alberta app</li>
		<li>Enroute Taxi Advertising System</li>
		<li>Forestry radio tower registry</li>
		<li>Timesheet management system</li>
		<li>Home appliance maintenance app</li>
		<li>U of A Rutherford house tour app</li>
		<li>Social restaurant marketing app (MyTab)</li>
	</ul>
</div>
