$header-blend-1: #E1BC29;
$header-blend-2: #4D9DE0;
$header-blend-3: #3BB273;

$transition-regular: 1s ease;
$transition-slow-quick: 1.5s cubic-bezier(0.79, 0.1, 0.27, 1.01);
$transition-quick-slow: 1.5s cubic-bezier(0, 1.15, 0.68, 0.99);
$transition-very-slow-quick: 1.5s cubic-bezier(0.74, 0.02, 0.54, -0.1);

@mixin site-header-selected() {
	background-color: $main-dark;
	border-bottom: 2px solid $main-white;
	color: lighten($main-white, 50%);
	height: $header-height - 1px;
}

/**
 * Site header
 */
.site-header {
	color: $main-white;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
    .title {
		position: absolute;
		@include transform(translate(-50%, -150%));
		top: 50%;
		left: 50%;
		text-align: center;
		font-family: 'Spacecard', sans-serif;
		font-size: 41px;
		z-index: 3;
		transition: $transition-regular all;
		text-decoration: none;
	}
	.nav-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 40%;
		min-width: 700px;
		@include transform(translate(-50%, +0%));
		transition: $transition-regular top, $transition-quick-slow width;
		z-index: 2;
	}
	.nav-back {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border-bottom: 2px solid rgba($main-white, 0.4);
		background-color: rgba($main-dark, 0.1);
		pointer-events: none;
		transition: $transition-quick-slow all;
		z-index: -1;
	}
	.nav {
		font-family: $base-font-family;
		font-size: 25px;
		font-weight: bold;
		display: flex;
		justify-content: center;
		line-height: $header-height;
		height: $header-height;
		text-align: center;
		width: 100%;
		min-width: 700px;
		margin-left: auto;
		transition: $transition-quick-slow width;
		a {
			width: 25%;
			cursor: pointer;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			color: rgba($main-white, 0.9);
			text-decoration: none;
			height: $header-height;
			&:hover {
				background-color: rgba($main-dark, 0.2);
				border-bottom: 3px solid $main-white;
				color: lighten($main-white, 20%);
			}
		}
	}
	//transitions for collapsing / uncollapsing
	&.collapsed {
		.title {
			top: 1px;
			transform: translate(0,0);
			left: 17px;
			transition: $transition-regular all;
		}
		.nav-wrapper {
			top: 0;
			width: 101%;
			transition: $transition-regular top, $transition-slow-quick width;
		}
		.nav-back {
			border-bottom: 2px solid rgba($main-white, 0.8);
			background-color: rgba($main-dark, 0.8);
			transition: $transition-slow-quick all;
		}
		.nav {
			width: 40%;
			transition: $transition-slow-quick width;
		}
		.nav a:hover {
			@include site-header-selected();
		}
		//show and hide site site content
		& + .page-content {
			opacity: 1.0;
			transition: $transition-very-slow-quick opacity;
		}
	}
	//selecting a certain site section
	&.about		{ .nav .about 	  { @include site-header-selected(); } }
	&.blog		{ .nav .blog 	  { @include site-header-selected(); } }
	&.portfolio { .nav .portfolio { @include site-header-selected(); } }
	&.freelance { .nav .freelance { @include site-header-selected(); } }
	//colorful background
	.blend-layer-1 {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $main-red;
	}
	.blend-layer-2 {
		position: fixed;
		bottom: 0;
		left: 0;
		@include transform(translate(-42%, 38%));
		width: 80%;
		height: 80vw;
		@include radial-gradient($header-blend-1);
	}
	.blend-layer-3 {
		position: fixed;
		bottom: 0;
		right: 0;
		@include transform(translate(46%, 38%));
		width: 200%;
		height: 160vw;
		@include radial-gradient($header-blend-2);
	}
	.blend-layer-4 {
		position: fixed;
		top: 0;
		left: 0;
		@include transform(translate(47%, -51%));
		width: 80%;
		height: 80vw;
		@include radial-gradient($header-blend-3);
	}
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        //background-color: $background-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
$page-header-height: 60px;

.page-content {
    padding: $header-height 40px 40px 40px;
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	opacity: 0;
	& > div {
		padding-top: $page-header-height;
		position: relative;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		display: block;
		h1 {
			position: absolute;
			top: 10px;
			left: 0;
			font-family: "Open Sans", sans-serif;
			font-weight: bold;
			font-size: 2em;
			color: $main-white;
			line-height: $page-header-height;
			height: $page-header-height;
			margin: 0;
			padding: 0px 8px;
			z-index: 1;
			text-shadow: 0px -1px 0px $main-dark;
		}
		&.hidden {
			display: none;
		}
	}
}
.main-content {
	background: $main-dark;
	color: $main-white;
	border-top: 10px solid $main-white;
	border-bottom: 7px solid $main-white;
	position: relative;
	&:before, &:after {
		content: " ";
		display: block;
		position: absolute;
		top: -5px;
		left: 0;
		border-top: 3px solid $main-dark;
		width: 100%;
	}
	&:after {
		top: auto;
		bottom: -5px;
	}
	p {
		margin: 0;
		padding: 15px;
	}
}

.page-heading {
    font-size: 20px;
}

$post-width: 250px;
.post-list {
    position: absolute;
	overflow: visible;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	height: 20px;
	width: $post-width;
	.spiral-wrapper {
		position: absolute;
		height: 80px;
		width: $post-width;
		background-color: transparent;
		.spiral-content {
			background-color: rgba(0,0,0,0.3);
			box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
		}
		span {
			text-align: center;
			display: block;
		}
		h2 a {
			font-size: 16px;
			text-align: center;
		}
	}

	$elements: 15;
	$spiral-spin: 40deg;
	$spiral-width: 400px;
	$spiral-height: 70px;
	$radius-ramp: 10px;
	@for $i from 1 to $elements+1 {
		.spiral-wrapper:nth-child(#{$i}) {
			opacity: 1 - ($i/$elements);
			@include transform(translate(($spiral-width)*sin(rad($spiral-spin*($i - 1))), ($spiral-height+$i*$radius-ramp)*cos(rad($spiral-spin*($i - 1)))));
			.spiral-content {
				//@include transform(rotate($spiral-spin*$i*-1));
			}
		}
	}
}

.post-meta {
    font-size: $small-font-size;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
