<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="preload">
    {% assign header_class = 'collapsed blog' %}
    {% include header.html %}
    <div class="page-content">
        <div id="content-about" class="hidden">
            {% include about.html %}
        </div>
        <div id="content-blog">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        	<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
            {{ content }}
        </div>
        <div id="content-portfolio" class="hidden">
            {% include portfolio.html %}
        </div>
        <div id="content-freelance" class="hidden">
            {% include freelance.html %}
        </div>
        {% include link-router.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
